# build output files
debug/*
target/*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# visual studio code local file configurations
.vscode/*
.history/*
